<img src= "https://camo.githubusercontent.com/beede1ff8999a3d69c452f1cd0df90e076454344/687474703a2f2f7275627967656d732e6f72672f66617669636f6e2e69636f">
<ul>
	<li><a href="#">NEWS</a></li>
	<li><a href="#">GEMS</a></li>
	<li><a href="#">GUIDES</a></li>
	<li><a href="#">CONTRIBUTE</a></li>
	<li><a href="#">SIGN IN</a></li>
	<li><a href="#">SIGN UP</a></li>
</ul>
<h1>Find, install, and publish <br>RubyGems.</h1>

<input type="text" name="Search" placeholder="Search Gems...">
<p><a href="#">Advanced Search &#8594</a></p>

<div>
<p>14,351,994,126</p>
<p>DOWNLOADS & COUNTING</p>
</div>

<a href="#">Install RubyGems &#x203A;</a>

<a href="#">STATUS</a>
<a href="#">&#9719 UPTIME</a>

<footer>
	<div>
		<p>RubyGems.org is the Ruby community’s gem hosting service. Instantly publish your gems and then install them. Use the API find out more about available gems. Become a contributor and improve the site yourself.</p>

		<p>RubyGems.org is made possible by many sponsors, with development funded by the Ruby trade association, Ruby Together.</p>

		<p>We need your help to fund the developer time that keeps RubyGems.org running smoothly for everyone. Join Ruby Together today.</p>
	</div>

	<div>
		<a href="#">STATUS</a>
		<a href="#">UPTIME</a>
		<a href="#">CODE</a>
		<a href="#">DATA</a>
		<a href="#">DISCUSS</a>
		<a href="#">STATS</a>
		<a href="#">BLOG</a>
		<a href="#">ABOUT</a>
		<a href="#">HELP</a>
		<a href="#">API</a>
		<a href="#">SECURITY</a>
	</div>
</footer>